{% load static %}
{% load bootstrap5 %}
  
<head>
    <link rel="icon" href="{% static 'app/lapin.jpg' %}">
    <link href="{% static 'app/app.css' %}" rel="stylesheet" >
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div>
            <img src="{% static 'app/lapin.jpg' %}" class="logo">
            <a class="navbar-brand" href="#">Rabid Rabbits</a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'nouvel_elevage' %}">Nouvel élevage</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="container" style="margin-top:25px">
        {% block content %}{% endblock %}
      </div>

</body>