Les lapines parviennent à maturité et peuvent se reproduire à l'âge de 6 mois et elles peuvent continuer à mettre bas pendant quatre ans. La gestation dure 1 mois, et l'animal peut mettre bas chaque fois de 1 à 12 lapereaux. Elle peut être de nouveau gravide quelques jours après avoir mis bas.
Taille adulte vers 3 mois.

alimentation 
	adulte : 250g/jour
	lapereau: lait maternel/1er mois, 100g/2ème mois, 250g/troisième mois
cages : 6 individus maxi par cage, >10 surpopulation, maladie, mort, ennui, dépression, mort
	les lapereaux ne comptent pas le premier mois

achat nourriture et cages
vente des lapins mâles adultes