      <div class="card card-body">
            <h1>{{ elevage.nom }}</h1>
            <h2>Age: {{ elevage.ageMois }} mois</h2>
            <div class="labelValue">
                  <div>Réserve de nouriture</div>
                  <div>{{ elevage.nouritureGrammes }} grammes</div>
            </div>
            <div class="labelValue">
                  <div>Nombre de cages</div>
                  <div>{{ elevage.cages }}</div>
            </div>
            <div class="labelValue">
                  <div>Banque</div>
                  <div>{{ elevage.argentEuros }}</div>
            </div>
      </div>
      