{% extends "app/_base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}      
      <div class="row">
      
            <div class="col-md-6">
                  <h1>Création d'un nouvel élevage</h1>
                  <form class="form" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-primary" type="submit" style="width:100%">Créer</button>
                  </form>
            </div>
            <div class="col-md-6">
                  <img src="{% static 'app/elevage.jpg' %}" >
            </div>
      </div>
{% endblock %}
