{% extends "app/_base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}      
<div class="row">
      <div class="col-md-6">
            <div style="display:flex;flex-direction: column; gap: 20px">
                  {% include "app/_voir_elevage_info.html" with elevage=elevage %}
                  {% include "app/_voir_elevage_lapins.html" with elevage=elevage %}
            </div>
            
      </div>
      <div class="col-md-6">
            <div style="display:flex;flex-direction: column; gap: 20px">
                  {% include "app/_voir_elevage_action.html" with elevage=elevage form=form %}
                  {% include "app/_regles.html" with Config=Config %}
            </div>
      </div>
</div>
{% endblock %}
