{% extends "app/_base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}      
<div class="row">
      <div class="col-md-8">
            <div>
                   {% include "app/_voir_elevage_info.html" with elevage=elevage %}
                  <hr/>
                  {% include "app/_voir_elevage_action.html" with elevage=elevage form=form %}
            </div>
      </div>
      <div class="col-md-4">
            {% include "app/_regles.html" %}
      </div>
</div>
{% endblock %}
