.navbar .logo {
    width:48px;
    height: 48px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.labelValue {
    display: flex;
    justify-content: space-between;
}